* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #eeeeee;
  height: 70px;
}

.b1 {
  float: right;
  padding: 17px 0px 17px 20px;
}
