@import 'header';
@import 'form';
@import 'buttons';
@import 'advanced';


 *{ 
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Roboto', arial;
}
 
#logo{ 
    background-repeat: no-repeat;
    padding-top: 7%;
    height: 92px;
    left: calc(50% - 272px/2);
    position: relative;
    width: 272px;
}














































